
    .swiper {
      width: 60vh;
      padding-top: 60vh;
      padding-bottom: 60vh;
      z-index: auto;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 60vh;
      height: 60vh;
    }

    .swiper-slide img {
      display: block;
      width: 60vh;
    }